---
layout: default
---

  <header class="site-masthead">
  
    {% if site.title %}
      <h1 style="color:#ffffff;">
        {{ site.title }}
      </h1>
    {% endif %}
    {% if site.title %}
      <h2 style="color:#ffffff;">
        {{ site.description }}
      </h2>
    {% endif %}
    <br />
    <p style="color:#f2f2f2;font-size:14px;">YACO (PVT) LTD</p>
    <p style="color:#f2f2f2;font-size:12px;">Registered Office:</p>
    <p style="color:#f2f2f2;font-size:12px;">No. 222-1D, Meegahawaththa, Delgoda, 11700, Sri Lanka.</p>   
    <p style="color:#f2f2f2;font-size:12px;">Processing Facility:</p>
    <p style="color:#f2f2f2;font-size:12px;">No. 133/7, Mahena Road, Siyambalape, 11650, Sri Lanka.</p>
    <p style="color:#f2f2f2;font-size:12px;">Telephone: +94 112 977 644</p>
    <p style="color:#f2f2f2;font-size:12px;">Mobile: +94 719 837 974</p>
    <p style="color:#f2f2f2;font-size:12px;">Email: <a href="mailto:co@yaco.lk" style="color:#e6e6e6;font-size:12px;">co[at]yaco[dot]lk</a></p>
    <p style="color:#f2f2f2;font-size:12px;">Yaco (Pvt) Ltd is a subsidiary of Dedunu Capital (Private) Limited.</p>
    <br />  
</header>

