---
layout: default
---

  <header class="site-masthead">
  
    {% if site.title %}
      <h1 style="color:#ffffff;">
        {{ site.title }}
      </h1>
    {% endif %}
    {% if site.title %}
      <h2 style="color:#ffffff;">
        {{ site.description }}
      </h2>
    {% endif %}
    <br />
    <br />
    <p style="color:#f2f2f2;">YACO (PVT) LTD</p>
    <p style="color:#f2f2f2;">>Registered Office: No. 222-1D, Meegahawaththa, 11700, Sri Lanka.</p>
    <p style="color:#f2f2f2;">>Processing Facility: No. 133/7, Mahena Road, Siyambalape, 11650, Sri Lanka.</p>
    <p style="color:#f2f2f2;">>Telephone: +94 112 977 644</p>
    <p style="color:#f2f2f2;">>Mobile: +94 719 837 974</p>
    <p style="color:#f2f2f2;">>Email: <a href="mailto:co@yaco.lk" style="color:#e6e6e6;">co[at]yaco[dot]lk</a></p>
    <br />  
</header>

